body {
  background-color: #f5fffa; 
  background-image: url("https://www.transparenttextures.com/patterns/blizzard.png");
  font-family: arial, helvetica, sans-serif;
  margin: 10% 20%;
  color: #2F4F4F;
}

.Experience {
  text-align: center;
  text-transfrom: uppercase;
  border-bottom: 1px solid;
  background-color: rgba(0,0,0, 0.05)
}

.info {
  font-size: 15px;
  line-height: 1%;
  margin-top: -5px;
}

.head {
  border-bottom: 1px solid;
}
